<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>matrix</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
<div class="bg-gray">
<div class="text-center">
          <header><H2>
               Are you ready for journey
              </H2>
          </header>

<div class="container">
  <div class="columns">
    <div class="column col-1"></div>
      <div class="column col-3">
          <div class="card-image">
              <img class="MosaicAsset-module__thumb___klD9E" src="https://media.istockphoto.com/photos/the-palace-and-the-bridge-of-westminster-in-london-at-sunset-the-picture-id1180952875?k=20&amp;m=1180952875&amp;s=612x612&amp;w=0&amp;h=sLgcJNbK_lxFevI6543LzmDjIp_emWXX_sNCvrFH_hU=" alt="Pałac i Most Westminsterski w Londynie o zachodzie słońca - Wielka Brytania – zdjęcie" width="375" height="241" loading="lazy">
          </div>
      </div>
    <div class="column col-4">
          <div class="card-image">
              <img srcset="https://cdn.pixabay.com/photo/2022/03/14/20/54/city-7069010_960_720.jpg 1x, https://cdn.pixabay.com/photo/2022/03/14/20/54/city-7069010_1280.jpg 2x" src="https://cdn.pixabay.com/photo/2022/03/14/20/54/city-7069010_960_720.jpg" alt="Miasto, Podróż, Turystyka, Meksyk, Cdmx, Miejski" width="375" height="241" loading="lazy">
          </div>
        </div>
  <div class="card-image">
              <img class="MosaicAsset-module__thumb___klD9E" src="https://media.istockphoto.com/photos/hot-coffee-cup-with-fresh-organic-red-coffee-beans-and-coffee-roasts-picture-id1135319558?k=20&amp;m=1135319558&amp;s=612x612&amp;w=0&amp;h=bg6xOnWAz6gSl-My0xlcscxbnxZo2zYDlyB91ChtZyQ=" alt="Hot coffee cup with fresh organic red coffee beans and coffee roasts on the wooden table and the black background with copyspace for your text.  coffee café stock pictures, royalty-free photos &amp; images" width="375" height="241" loading="lazy">
          </div>

  </div>
    <div class="column col-1"></div>

  </div>
</div>


    <div class="card">
        <div class="card-image">
<div class="bg-gray">
<div class="text-center">
  <div class="card-header">
    <div class="card-title h5">Time for holliday</div>
    <div class="card-subtitle text-gray">What do you want to do and where</div>
  </div>
        <form method="POST" action="/result/">
        <input type="hidden" name="" value=""/>

  <div class="card-body">
      <label>Miasto</label>
      <select name="city">
    <option>Choose a city</option>
    <option value="Anywhere" {% if city =="Anywhere" %} selected{% endif %}>Anywhere</option>
    <option value ="Wrocław" {% if city =="Wrocław" %} selected{% endif %}>Wrocław</option>
    <option value ="Kraków" {% if city =="Kraków" %} selected{% endif %}>Kraków</option>
    <option value ="Warszawa" {% if city =="Warszawa" %} selected{% endif %}> Warszawa</option>
  </select>
<div class="container">
  <div class="columns">
    <div class="column col-4"></div>
    <div class="column col-4">

<label class="form-label" for="input-date" >Date</label>
      <input class="form-input" type="text" id="input-date" name="date" placeholder="YYYY-MM-DD" value="{{name}}" required>

<label class="form-label" for="input-example-3">What do you want to do???</label>
  <textarea class="form-input" id="input-example-3" name="info" placeholder="koncert,
spektakl, kabaret" rows="3" value="{{name}}" required></textarea>
  </div>
     <div class="card-footer">

    </div>
    <div class="column col-4"></div>
  </div>
</div>


     <button class="btn btn-success" type="submit" value="send" >send>

         </button>
  </div>
        </form>
</div>

<div class="form-group">

</div>
    <div class="text-center">
          <footer>
               Have a fun
          </footer>

    </div>
    </div>
</div>
</div>
</body>
</html>